body
{
	font-family: 'Roboto', sans-serif;
}

.main{
	max-width: 1500px;
	margin: auto;
}

ul {
	float: left;
	list-style-type: none;
	margin-top: 20px;
}

ul li {
	display: inline;
}

ul a { 
    font-size: 16px;
    font-weight: inherit;
    letter-spacing: inherit;
    color: #337ab7;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 18px;
}


ul li a:hover {
	background: transparent;
  	color: black;
   	transition: 0.9s ease;
}
.navlog ul {
	display: inline;
	float: left;
	color: #337ab7;
	font-size: inherit;
	padding-top: -3px;
    padding-left: 120px;
}

.navlog:hover {
	background: transparent;
  	color: black;
  	text-decoration: none;
   	transition: 0.9s ease;}
/*##############banner######################*/
#banner {
    min-height: 150vh;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    background-image: url('Images/loginbg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.banner-text{
	font-size: 50px;
	text-transform: uppercase;
	color: #e0e2db;
	font-family: 'Dancing Script', cursive;

}
.banner-underline{
	width: 200px;
	border: 3px solid #191176;
	margin: 10px auto 20px auto;

}
.banner-btn{
	display: flex;
	justify-content: space-between;

}
.banner-btn button{
	font-size: 20px;
	border-radius: 10px;
	padding: 15px;
	text-transform: uppercase;
	margin: 0 10px;
	background: transparent;
	color: green;
	border:3px solid #e6af2e;
}
.banner-btn button:hover{

	color: #e0e2db;
	background: green;
}
#login-banner {
    min-height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    background-image: url('Images/loginbg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
#signup-banner {
    min-height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-image: url('Images/loginbg.jpg');
    background-attachment: fixed;
    background-position: all;
    background-size: cover;
    background-repeat: repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-box{
	 width: 320px;
	 height: 400px;
	 background: rgba(0, 0, 0, 0.5);
	 color: #fff;
	 top: 60%;
	 left: 50%;
	 position: absolute;
	 transform: translate(-50%,-50%);
	 box-sizing: border-box;
	 padding: 40px 35px;
}
.login-box1{
	 width: 350px;
	 height: 200px;
	 background: rgba(0, 0, 0, 0.5);
	 color: #fff;
	 top: 60%;
	 left: 50%;
	 position: absolute;
	 transform: translate(-50%,-50%);
	 box-sizing: border-box;
	 padding: 70px 30px;
}

h1{
	margin: o;
	padding: 0 0 20px;
	font-size: 20px;
	text-align: center;
}
.login-box p{
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 20px;
}
.login-box input{
	width: 100%;
	margin-bottom: 20px;
}
.login-box input[type="text"],input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color:#fff;
	font-size: 16px;

}
.login-box input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	background: #1c8adb;
	color: #fff;
	font-size: 18px;
	font-weight: bold;  
	border-radius: 20px;
}

.login-box input[type="submit"]:hover{
	cursor: pointer;
	background: #337ab7;
	color: black;
}

}
.login-box a{
	text-decoration: none;
	font-size: 14px;
	color: #fff;
}
.signup-box{
	 width: 420px;
	 height: 750px;
	 background: rgba(0, 0, 0, 0.5);
	 color: #fff;
	 top: 80%;
	 left: 50%;
	 position: absolute;
	 transform: translate(-50%,-50%);
	 box-sizing: border-box;
	 padding: 40px 50px;
}
.signup-box p{
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 20px;
}
.signup-box input{
	width: 100%;
	margin-bottom: 20px;
}
.signup-box input[type="text"],input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color:#fff;
	font-size: 16px;
}
.signup-box input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	background: #1c8adb;
	color: #fff;
	font-size: 20px;
	font-weight: bold;  
	border-radius: 20px;
}
.signup-box input[type="submit"]:hover{
	cursor: pointer;
	background: #337ab7;
	color: black;
}
.banner-text1{
	position: absolute;
	top: 670px;
	font-size: 30px;
	text-transform: uppercase;
	color: #e0e2db;
	font-family: 'Dancing Script', cursive;
}
#banner1 {
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    background-image: url('Images/loginbg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
