
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="banner">
    <center>
        <h1 class="banner-text"> listen The Call OF<br>Nature......!</h1>
        <div class="banner-underline"></div>
    </center>
</div>
<div id="banner1">
    <h1 class="banner-text1"> Explore Maharashtra.....</h1>
</div>
