
@{
    ViewBag.Title = "LoginSignup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="banner">
    <center>
        <div class="login-box1">
            <div class="banner-btn">
                <button type="button">@Html.ActionLink("LOGIN", "LoginC", "Login")</button>
                <button type="button">@*<a href="signup.html">REGISTER</a>*@@Html.ActionLink("REGISTER", "SignUpC", "SignUp")</button>
            </div>
        </div>
    </center>
</div>
