<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MainLayout</title>

    <link href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
</head>
<body>
        <div> 

            <table>
                <thead>
                    
                    <tr>
                        <th>Things To Do</th>
                        <th>Where To Go</th>
                        <th>Experience Maharashtra</th>
                        <th>Where To Stay</th>
             

                    </tr>
                </thead>
            </table>
    </div>
    <div>
        @RenderBody()
    </div>

</body>
</html>
